<!DOCTYPE html>
<html>
<body>
<img src="images/datainsightx.png" alt="DataInsightX" style="width:110px;height:100px;">
</body>
<body>
<h2> GCSE grade Prediction App </h2>
<h3> Please upload your data file </h3>

<form action = "/getprediction" method="POST" enctype="multipart/form-data">
    Enter name of school:
    <input type="text" name="Name of school" id="schoolid">

    Upload file:
    <input type="file" name="fileToUpload" id="fileToUpload">
    <input type="submit" value="Upload File" name="submit">
</form>

</body>
</html>